<h3>Adicionar Categoria</h3>
<br>
<form action="/categorias/add" method="post">
    <div class="form-group">
        <label for="nome">Categoria</label>
        <input type="text" name="nome" id="nome" class="form-control" required placeholder="Digite o nome da categoria">
        <div class="float-end">
            <button type="submit" class="btn btn-primary mt-1 mb-3">Add</button>
        </div>
        <br>
    </div>
</form>