<h3 class="text-center">Equipe do projeto</h3>

<div class="text-center">
    <div style="display: inline-block; margin: 10px;">
        <img src="/src/integrantes.jpg" alt="Integrantes" style="width: 150px; border-radius: 100%;">
        <p>Mateus Lira e Hector Willian</p>
    </div>
<div class="text-center">
    <div style="display: inline-block; margin: 10px;">
        <img src="/src/enzo.jpg" alt="Enzo" style="width: 150px; border-radius: 100%;">
        <p>Enzo</p>
    </div>
    <div class="footer mt-5 py-3">
        <h3>Vídeo:</h3>

        <iframe width="560" height="315" src="https://youtu.be/gIThP1ubpHk?si=XsVNwMI2DcwTyKmn" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
</div>