<div style="position: absolute; bottom: 0; width: 100%;">
    <footer class="footer mt-auto py-3" style="background-image: url('/src/Deltarune.png'); background-size: cover; background-position: center center;">
      <div class="container text-center">
        <span class="text-black">
          Rodapé do projeto
        </span>
      </div>
    </footer>
</div>
  