<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Equipe</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container text-center mt-5">
    <h1 class="mb-4">Nossa Equipe</h1>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <img src="/images/hector.jpg" alt="Foto de Hector" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px; object-fit: cover;">
        <h4>Hector</h4>
      </div>
      <div class="col-md-4">
        <img src="/images/enzo.jpg" alt="Foto de Enzo" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px; object-fit: cover;">
        <h4>Enzo</h4>
      </div>
    </div>
  </div>
</body>
</html>
