<h2>Este é um site para falar um pouco sobre o EPA</h2>
<br><br>
<h3>O que é o EPA?</h3>
<p>O EPA é um evento anual em que os alunos das ETECs apresentam os trabalhos desenvolvidos ao longo dos cursos técnicos e do ensino médio. É uma oportunidade para mostrar à comunidade, empresas e futuros estudantes o que está sendo produzido dentro da escola.</p>


<img style="width: 100%; height: 100px;" src="/src/EPA.png">
<iframe width="560" height="315"
    src="https://www.youtube.com/watch?v=TfOIsTHPR6Q"
    title="Video da etec"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>