<h3>Listar Categorias</h3>
<div style="display: flex;" class="float-end">
    <a href="/categorias/add" class="btn btn-primary mb-3 ms-1" >Adicionar</a>
    <a href="/categorias/edit" class="btn btn-warning mb-3 ms-1 text-white">Editar</a>
</div>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>